<nz-table #basicTable [nzData]="employeeList">
  <thead>
    <tr>
      <th>ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th>手机号</th>
      <th>邮箱</th>
      <th>入职时间</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data, index as i">
      <td>{{ i+1 }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.mail }}</td>
      <td>{{ data.joinTime }}</td>
      <td>
        <a>修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="确定删除该员工吗?" (nzOnConfirm)="deleteEmployee(data.id)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>