<nz-layout class="home-wrapper">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="员工管理" nzIcon="user">
        <ul>
          <li nz-menu-item routerLink="/employee/list">员工列表</li>
          <li nz-menu-item routerLink="/employee/add">添加员工</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="角色管理" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="/role/list">角色列表</li>
          <li nz-menu-item routerLink="/role/add">添加角色</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="权限管理" nzIcon="lock">
        <ul>
          <li nz-menu-item>权限列表</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row>
        <div nz-col nzSpan="8">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed">
          </i>
        </div>
        <div nz-col nzSpan="16">
          <div nz-row nzJustify="end">
            <div nz-col nzSpan="4">
              <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
              <a href="#" class="logout" nz-popconfirm nzPopconfirmTitle="确定退出登录吗?" (nzOnConfirm)="logout()"
                nzPopconfirmPlacement="bottom">
                <i nz-icon nzType="logout" nzTheme="outline"></i>退出
              </a>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>用户管理系统</nz-footer>
  </nz-layout>
</nz-layout>